---
export const prerender = false;

//@ts-ignore
import json from "../../books.json";
import Layout from "../../layouts/Layout.astro";
// @ts-ignore
export async function getStaticPaths({ paginate }) {
  return paginate(json, { pageSize: 10 });
}
const { page } = Astro.props;
---

<Layout title="Personal site">

  
    <h1>Page {page.currentPage}</h1>
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
    
    <ul>
      {
        //@ts-ignore
        page.data.map(({ Text, Title, Authors }) => (
          <li>
            <a href={`https://www.gutenberg.org/ebooks/${Text}`} class="name">{Title}</a>
            <p>
              <p>{Authors}</p>
              <a href={`https://www.gutenberg.org/ebooks/${Text}.epub3.images`}>
                Link al ePub
              </a>
              <a href={`/read/${Text}`}>
                Leer en GutBooks
              </a>
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
